{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>

    <!-- Custom CSS -->
    {% block css %}{% endblock %}

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="/admins/">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Light Logo icon -->
                        <img style="width: 100px;" src="{% static 'assets/images/logo.png' %}" alt="homepage"
                             class="light-logo"/>
                    </b>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ti-more"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                           data-sidebartype="mini-sidebar">
                            <i class="sl-icon-menu font-20"></i>
                        </a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="ti-bell font-20"></i>

                        </a>
                        <div class="dropdown-menu mailbox animated bounceInDown">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
                            <ul class="list-style-none">
                                <li>
                                    <div class="drop-title bg-primary text-white">
                                        <h4 class="m-b-0 m-t-5">4 New</h4>
                                        <span class="font-light">Notifications</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-center notifications">
                                        <!-- Message -->
                                        <a href="javascript:void(0)" class="message-item">
                                                <span class="btn btn-danger btn-circle">
                                                    <i class="fa fa-link"></i>
                                                </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title">Luanch Admin</h5>
                                                <span class="mail-desc">Just see the my new admin!</span>
                                                <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)" class="message-item">
                                                <span class="btn btn-success btn-circle">
                                                    <i class="ti-calendar"></i>
                                                </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title">Event today</h5>
                                                <span class="mail-desc">Just a reminder that you have event</span>
                                                <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)" class="message-item">
                                                <span class="btn btn-info btn-circle">
                                                    <i class="ti-settings"></i>
                                                </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title">Settings</h5>
                                                <span class="mail-desc">You can customize this template as you want</span>
                                                <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)" class="message-item">
                                                <span class="btn btn-primary btn-circle">
                                                    <i class="ti-user"></i>
                                                </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title">Pavan kumar</h5>
                                                <span class="mail-desc">Just see the my admin!</span>
                                                <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center m-b-5" href="javascript:void(0);">
                                        <strong>Check all notifications</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>{% endcomment %}
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {% if user.is_authenticated %}
                                <span style="color: white">{{ user.username }}</span>
                            {% else %}
                                <p>Welcome, new user. Please log in.</p>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
                            <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                                <div class="m-l-10" style="margin-left: 20px;margin-top: 10px;">
                                    {% if user.is_authenticated %}
                                        <h4 class="m-b-0">{{ user.username }}</h4>
                                        <p class=" m-b-0">{{ user.email }}</p>
                                    {% else %}
                                        <p>Welcome, new user. Please log in.</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% comment %}<a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>{% endcomment %}
                            <a class="dropdown-item" href="/admins/logout/">
                                <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                href="javascript:void(0)" aria-expanded="false"><i
                            class="icon-File-HorizontalText"></i><span class="hide-menu">Evaluaciones</span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/admins/evaluaciones/profesores/" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span
                                    class="hide-menu"> Evaluaciones Profesorales </span></a></li>
                            <li class="sidebar-item"><a href="/admins/evaluaciones/institucion/" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span
                                    class="hide-menu">Evaluaciones Institución</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                                href="javascript:void(0)" aria-expanded="false"><i
                            class="icon-Increase-Inedit"></i><span class="hide-menu">Gestión</span></a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item"><a class="has-arrow sidebar-link" href="javascript:void(0)"
                                                        aria-expanded="false"><i class="mdi mdi-playlist-plus"></i>
                                <span class="hide-menu">Profesores</span></a>
                                <ul aria-expanded="false" class="collapse second-level">
                                    <li class="sidebar-item"><a href="/admins/profesores/" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span
                                            class="hide-menu">Ver Profesores</span></a>
                                    </li>
                                    <li class="sidebar-item"><a href="/admins/profesores/crear" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span
                                            class="hide-menu">Crear Profesor</span></a>
                                    </li>
                                    <li class="sidebar-item"><a href="/admins/profesores/grupos/"
                                                                class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span
                                            class="hide-menu">Grupos por Profesor</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item"><a class="has-arrow sidebar-link" href="javascript:void(0)"
                                                        aria-expanded="false"><i class="mdi mdi-playlist-plus"></i>
                                <span class="hide-menu">Grupos</span></a>
                                <ul aria-expanded="false" class="collapse second-level">
                                    <li class="sidebar-item"><a href="/admins/grupos/" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span class="hide-menu">Ver Grupos</span></a>
                                    </li>
                                    <li class="sidebar-item"><a href="/admins/grupos/crear" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span class="hide-menu">Crear Grupo</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item"><a class="has-arrow sidebar-link" href="javascript:void(0)"
                                                        aria-expanded="false"><i class="mdi mdi-playlist-plus"></i>
                                <span class="hide-menu">Horarios</span></a>
                                <ul aria-expanded="false" class="collapse second-level">
                                    <li class="sidebar-item"><a href="/admins/horarios/" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span class="hide-menu">Ver Horarios</span></a>
                                    </li>
                                    <li class="sidebar-item"><a href="/admins/horarios/crear" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span
                                            class="hide-menu">Crear Horario</span></a>
                                    </li>
                                </ul>
                            </li>

                            {% comment %}<li class="sidebar-item"><a class="has-arrow sidebar-link" href="javascript:void(0)"
                                                        aria-expanded="false"><i class="mdi mdi-playlist-plus"></i>
                                <span class="hide-menu">Usuarios</span></a>
                                <ul aria-expanded="false" class="collapse second-level">
                                    <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span class="hide-menu">Ver Usuarios</span></a>
                                    </li>
                                    <li class="sidebar-item"><a href="javascript:void(0)" class="sidebar-link"><i
                                            class="mdi mdi-octagram"></i><span
                                            class="hide-menu">Crear Usuario</span></a>
                                    </li>
                                </ul>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex no-block justify-content-end align-items-center">
                        {% block page_title_left %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by AdminBite admin. Designed and Developed by
            <a href="https://wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- apps -->
<script src="{% static 'dist/js/app.min.js' %}"></script>
<script src="{% static 'dist/js/app.init.horizontal.js' %}"></script>
<script src="{% static 'dist/js/app-style-switcher.horizontal.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>

<!--This page JavaScript -->
{% block js %}{% endblock %}
</body>

</html>